<!doctype html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"layout:decorate="~{layout/default}">

<head>

    <title>Bugs</title>
</head>

<body>
<section layout:fragment="contenu">
    <h1>Bugs</h1>
    <div> <a th:href="@{/admin/attribuer}" class="btn btn-primary">Attribuer</a> </div>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th scope="col">urgence</th>
            <th scope="col">envExecu</th>
            <th scope="col">logiciel</th>
            <th scope="col">statut</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="t:${bugs}">
            <th scope="row" th:text="${t.id}">Id</th>
            <td th:text="${t.description}">Description</td>
            <td th:text="${u.urgence}">urgence</td>
            <td th:text="${t.envExecu}">envExecu</td>
            <td th:text="${t.logiciel}">logiciel</td>
            <td th:text="${t.statut}">statut</td>
            <td> <a th:href="@{/admin/edit/{id}(id=${u.id})}" class="btn btn-success" />Editer
            </td>
            <td> <a th:href="@{/admin/delete/{id}(id=${u.id})}" class="btn btn-danger" />Supprimer</td>
        </tr>
        </tbody>
    </table>

</section>
</body>

</html>